body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   background: rgb(17, 34, 60);
    background: linear-gradient(135deg, rgba(17, 34, 60, 1) 0%, rgba(4, 7, 13, 1) 35%, rgba(4, 7, 13, 1) 64%, rgba(17, 34, 60, 1) 100%);
}

.social-buttons {
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    padding: 10px;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1e415e;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-bottom: 40px;
}

.social-button:hover {
    background-color: #164059;
    transform: scale(1.1);
}

.social-button img {
    width: 40px;
    height: 40px;
}

/* Mobile responsiveness */
.social-buttons {
    flex-direction: row;
    align-items: center;
    position: static;
    transform: none;
    padding: 10px;
}

.social-button {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    background: #11223c;
    border: none;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 20px;
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: none; /* Remove underline */
    transition: transform 0.2s;
    display: inline-block;
  }

  .button:hover {
    transform: scale(1.1);
  }

  .buttondiv {
    display: flex;
    justify-content: center;
}